*{
box-sizing: border-box;
}

body {
margin: 0;
background-color: #f4f4f4;
font-family: 'Roboto', sans-serif;
}

img {
display: block;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 60px 15px;
}

@media (max-width: 1200px) {
    .container {
        width: 830px;
    }
}

@media (max-width: 829px) {
    .container {
        width: 600px;
    }
}

.row {
display: flex;
justify-content: space-between;
}

.main {
width: 870px;
}

.sidebar {
min-width: 200px;
width: 270px;
}

@media (max-width: 829px) {
    .sidebar {
        /* display: none;  */
        margin-left: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0px 0px 20px 4px rgb(0 0 0/ 37%);
        overflow-y: scroll;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in ;
    }
    .sidebar--mobile-active {
        transform: translateX(-0%);
       
    }
}

.main + .sidebar {
margin-left: 30px;
}

.cards-holder {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

@media (max-width: 599px) {
.cards-holder {
flex-direction: column;
align-items: center;
} 
}

.cards-holder > .card-link{
margin-bottom: 30px;
}

.card-link--hidden {
display: none !important;
}

a.card-link {
display: inline-block;
text-decoration: none;
transition: all 0.2s ease-in;

}

a.card-link:hover {
opacity: 0.9;
transform: translateY(-5px);
}

.card {
position: relative;
background-color: #fff;
width: 270px;
}

.card__badges {
position: absolute;
top: 10px;
left: 15px;
right: 15px;
display: flex;
}

.card__badges > * + * {
margin-left: 10px;
}

.card__badge {
display: inline-block;
height: 22px;
padding: 0 10px;
border-radius: 4px;
font-size: 14px;
line-height: 23px;
color: #000;
}

.card__badge--class {
    background-color: #FFCF26;
}

.card__badge--credit {
background-color: #11BE75;
}

.card__content {
padding: 16px 15px 20px;
}

.card__title {
margin: 0;
font-weight: bold;
font-size: 18px;
line-height: 1.16;
color: #000;
margin-bottom: 11px;
}

.card__term {
font-size: 14px;
line-height: 1.14;   
color: #000000;
margin-bottom: 11px;
}

.card__metro {
font-size: 14px;
line-height: 1.14;   
color: #000000;
margin-bottom: 11px;
}

.card__metro::before {
content: "";
margin-right: 10px;
display: inline-block;
vertical-align: baseline;
width: 16px;
height: 11px;
background-image: url('./../images/metro.svg');
background-repeat: no-repeat;
background-size: initial;
}

.card__address {
font-size: 14px;
line-height: 1.14;
color: #777777; 
}

.btn-more {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 80px;
background: #e5e5e5;
border-radius: 4px;
text-align: center;
color: #4290c9;
font-size: 18px;
line-height: 21px;
border: none;
cursor: pointer;
transition: background-color 0.2s ease-in;
}

.btn-more:hover {
background-color: #d8d8d8;
}

.btn-more img {
margin-right: 10px;
}

/*Start Sidebar*/
.widget + .widget {
margin-top: 33px;
}

.widget--top-30 {
    margin-top: 30px !important;
}

.widget__title {
position: relative;
font-weight: bold;
font-size: 18px;
line-height: 1.16; 
color: #000000;
margin-bottom: 21px;
cursor: pointer;
}

.widget__title::after {
content: "";
width: 20px;
height: 20px;
position: absolute;
right: 1px;
top: -1px;
background-image: url("../images/chevron.svg");
background-repeat: no-repeat;
background-size: initial;
background-position: center;
}

.widget__title--active::after {
transform: rotate(180deg);
}

.widget__body--hidden {
display: none;
}

/* Location buttons group */
.location__row {
font-family: inherit;
display: flex;
}

.location__row:first-child {
border-radius: 4px 4px 0 0;
overflow: hidden;
border: 1px solid #d6d6d6;
}

.location__row:last-child {
border-radius: 0 0 4px 4px;
overflow: hidden;
border: 1px solid #d6d6d6;
border-top: none;
}

.location__btn {
font-family: 'Roboto', sans-serif;
height: 48px;
padding: 0 15px;
background-color: transparent;
border: none;
font-weight: 500;
font-size: 14px;
line-height: 50px;
color: #3c3c3c;
flex-grow: 1;
cursor: pointer;
transition: background-color 0.2s ease-in;
text-align: center;
}

.location__btn:hover {
background-color: #fff0bb;    
}

.location__checkbox {
width: 1px;
height: 1px;
position: absolute;
opacity: 0;
appearance: none;
}

.location__checkbox:checked + .location__btn{
background-color: #FFCF26;
}

.location__checkbox:checked + .location__btn:hover {
background-color: #e0b000;    
}
/* Location buttons group */

/*Start Radio */
.radio {
display: block;
cursor: pointer;
}

.radio + .radio {
    margin-top: 15px;
}

.radio__real {
width: 1px;
height: 1px;
position: absolute;
opacity: 0;
appearance: none;
}

.radio__fake {
position: relative;
display: inline-block;
margin-right: 7px;
width: 20px;
height: 20px;
background-color: #fff;
border: 1px solid #777777;
border-radius: 50%;
vertical-align: bottom;
}

.radio__real:checked + .radio__fake {
background-color: #ffe074;
}

.radio__real:checked + .radio__fake::before {
position: absolute;
top: 50%;
left: 50%;
content: "";
border-radius: 50%;
width: 8px;
height: 8px;
background: #3c3c3c;
transform: translate(-50%, -50%);
}

.radio__real:checked ~ .radio__title {
font-weight: 500;
    }

.radio__title {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: #000;
}
/* End Radio */

/*Start Checkbox */
.checkbox {
display: block;
cursor: pointer;
}

.checkbox--hidden {
display: none;
}
    

.checkbox + .checkbox {
margin-top: 15px;
}

.checkbox__real {
width: 1px;
height: 1px;
position: absolute;
opacity: 0;
appearance: none;
} 

.checkbox__fake {
position: relative;
display: inline-block;
margin-right: 7px;
width: 20px;
height: 20px;
background-color: transparent;
border: 1px solid #777777;
border-radius: 2px;
vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
background-color: #ffe074;
}

.checkbox__real:checked + .checkbox__fake::before {
position: absolute;
content: "";
top: 50%;
left: 50%;
width: 18px;
height: 18px;
transform: translate(-50%,-50%);
background-image: url('./../images/check.svg');
background-size: initial;
background-position: center;
}

.checkbox__title {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: #000;
}

.checkbox__real:checked ~ .checkbox__title {
font-weight: 500;
}

/* Hidden elements widget */

.widget__hidden {
display: none;
}

.widget__btn-show-hidden {
margin-top: 15px;
padding: 0;
display: inline-block;
background: transparent;
border: none;
font-family: inherit;
font-weight: normal;
font-style: normal;
font-size: 16px;
line-height: 1.19;
color: #4290c9;
cursor: pointer;
outline: none;
}

.widget__btn-show-hidden:hover {
text-decoration: underline;
}

/*End Checkbox */

/* Toggle start */

.toggle {
cursor: pointer;
}
.toggle__real {
width: 1px;
height: 1px;
position: absolute;
opacity: 0;
appearance: none;
transition: all 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
background-color: #FFE074; 
}

.toggle__real:checked + .toggle__fake::before {
left: 19px;
}

.toggle__fake {
position: relative;
display: inline-block;
margin-right: 7px;
width: 37px;
height: 20px;
background-color: #c4c4c4;
border-radius: 10px;
vertical-align: bottom;
}

.toggle__fake::before {
position: absolute;
top: 2px;
left: 2px;
content: "";
width: 16px;
height: 16px;
background-color: #3C3C3C;
border-radius: 50%;
}

.toggle__title {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: #000;
}

.toggle__real:checked ~ .toggle__title {
    font-weight: 500;
    }
/* Toogle End */

/* Start Btn */
.form-btn {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 50px;
border-radius: 4px;
background-color: transparent;
font-family: inherit;
text-align: center;
border: 1px solid #D6D6D6;
cursor: pointer;
font-size: 16px;
font-style: normal;
font-weight: normal;
color: #3c3c3c;
transition: background-color 0.2s ease-in;
outline: none;
}

.form-btn:hover {
background-color: #e7e7e7;
}

.form-btn + .form-btn {
margin-top: 10px;
}

.form-btn img {
margin-right: 6px;
}

.forn-btn--submit {
background-color: #FFCF26;
border: none;
color: #3c3c3c;
}

.forn-btn--submit:hover {
background-color: #ffe137;
}
/* End btn */

/* Button toggle sidebar */
.toggle-sidebar {
display: none;
position: fixed;
right: 15px;
top: 8px;
width: 45px;
height: 45px;
background-color: rgb(71, 71, 71);
border: none;
z-index: 9;
justify-content: center;
align-items: center;
}

@media (max-width: 829px) {
.toggle-sidebar {
display: flex;
 }
}

.menu-icon-wrapper {
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
border: none;
background-color: transparent;
}

.menu-icon {
position: relative;
width: 30px;
height: 5px;
background-color: #fff;
}

.menu-icon::before {
position: absolute;
left: 0;
top: -10px;
content: "";
width: 30px;
height: 5px;
background-color: #fff;
transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
position: absolute;
left: 0;
top: 10px;
content: "";
width: 30px;
height: 5px;
background-color: #fff;
transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
background-color: transparent;
}

.menu-icon.menu-icon-active::before {
transform: rotate(45deg);
top: 0;
transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
transform: rotate(-45deg);
top: 0;
transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* End sidebar */